<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Upload Image</title>
  </head>
  <body>
  <form method="POST" enctype="multipart/form-data">

    {% csrf_token %}
    {{forms.as_p}}
    <input type="submit" value="submit">
  </form>
  {% if download %}
  <table>
    {% for i in download %}
  <tr>
  <td><img src="{{i.image.url}}" alt="image" style="width:100%;float:left;margin-right:10px;"></td>
  </tr>
    {% endfor %}
  </table>
  {% endif %}

  </body>
</html>
